#ar1{
	background-color: yellow;
}

#ar2{
	background-color: blue;
	color:yellow;
}

#ar3{
	background-color: blue;
	color:yellow;
}

#img1{
	width: 125px;
	height: 125px;
}



footer{

background:#ccc;

position:fixed;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

}

.text3{
  background-color: blue;
}
.text2{
  background-color: green;
}

.text{
  background-color: red;
}

    
