body{
  min-height: 4096px;
}



footer{

background:#ccc;

position:fixed;

bottom:0;

width:100%;

padding-top:50px;

height:50px;

}

.text3{
  background-color: blue;
}
.text2{
  background-color: green;
}

.text{
  background-color: red;
}

    
